.intro-sec{
    max-width: 1200px;
    margin: 3% auto;
    padding: 1%;
    background: linear-gradient(to right, #fdfbfb, #ebedee);
    border-radius: 2%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-family: "Roboto Slab";
    color: #333;
    text-align: center;
    flex: 1;
    flex-wrap: wrap;
}

.intro-sec h1{
    font-size: 2.5rem;
    margin-bottom: 5px;
    color: #2c3e50;
}

.my-intro-text{
    font-size: 1.3rem;
    line-height: 1.5em;
    text-align: justify;
    margin: 2%;
}

.intro-text-img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
}

.my-img-container {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 1% 1%;
}

.my-img-container img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: contain;
    box-shadow: 2px 2px 10px gray;
    
}

@media (max-width: 1000px) {
    .intro-text-img-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .my-img-container {
        width: 70%;
        margin: 2%;
    }

    .my-intro-text {
        padding: 1%;
        font-size: 1.4rem;
        line-height: 1.5em;
    }
}