.intro-sec{
    max-width: 1200px;
    margin: 50px auto;
    margin-right: 20px;
    padding: 30px;
    background: linear-gradient(to right, #fdfbfb, #ebedee);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-family: "ROboto Slab";
    color: #333;
    text-align: center;
}

.intro-sec h1{
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #2c3e50;
}

.my-intro-text{
    font-size: 25px;
    line-height: 40px;
    text-align: justify;
    padding: 0 50px 30px;
    margin: 10px;
}

.intro-img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-img-container {
    width: 30%;
    margin-right: 15px;
    margin-left: 20px;
}

.intro-img-container img{
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
    box-shadow: 2px 2px 10px gray;
    
}