html, body{
    margin: 0;
    padding: 0;
}

body{
    padding-left: 80px;
}


.sidebar{
    padding: 0;
    padding-top: 50px;
    padding-bottom: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar-item{
    border-bottom: 1px dashed gray;
}

.sidebar-link{
    text-decoration: none;
}

.design-header-container{
    margin: 0;
    padding: 0;
    height: 40vh;
    background-image: url('../images/solid-airplane.jpg');
    background-size: cover;
    background-position: top; 
    background-repeat: no-repeat;
}

.welcome-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 75px;
    text-shadow: 0px 2px 15px rgb(255, 255, 255);
}

.design-intro-section{
    padding: 0 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.design-intro-text{
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.design-item-box{
    margin: 50px 30px;
    padding-top: 20px;
}

.kiwi-bird h2{
    width: 300px;
    padding: 7px 3px;
    border-top: 2px solid rgba(128, 128, 128, 0.3);
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
    text-align: center;
    margin: 0 auto 20px;
}


.design-item-text{
    padding: 5px 30px 10px;
    line-height: 30px;
    font-size: 20px;
    text-align: justify;
}

.uoa-logo h2{
    width: 700px;
    padding: 7px 3px;
    border-top: 2px solid rgba(128, 128, 128, 0.3);
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
    text-align: center;
    margin: 0 auto 20px;
}

.image-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 50px 0;
    row-gap: 25px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding: 15px;
}

.image-grid-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-grid-container img{
    height: 300px;
    min-height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.img-container{
    display: flex;
    flex-direction: column;
}


.video-kiwi{
    display: block;
    margin: 20px auto;
}

.design-item-box p.video-caption {
  text-align: center;
}

.abi-logo h2{
    width: 300px;
    padding: 7px 3px;
    border-top: 2px solid rgba(128, 128, 128, 0.3);
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
    text-align: center;
    margin: 0 auto 20px;
}


.waiparuru h2{
    width: 500px;
    padding: 7px 3px;
    border-top: 2px solid rgba(128, 128, 128, 0.3);
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
    text-align: center;
    margin: 0 auto 20px;
}

.waipa-img{
    max-height: 300px;
    max-width: 600px;
    height: 100%;
    width: 100%;
    object-fit: contain !important;
}

.design-item-box:nth-child(odd){
    background-color: rgba(228, 228, 228, 0.443);
}


@media (max-width: 900px) {
    .image-grid-container {
        grid-template-columns: 1fr;
        margin: 10px 15px 0;
    }

    .image-grid-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .video-kiwi{
        display: block;
        margin: 20px auto;
        width: 100%;
    }
}