* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    padding-left: 80px;
}


.sidebar{
    padding: 2em 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-item{
    border-bottom: 1px dashed gray;
    padding-top: 2em;
    padding-bottom: 0.1em;
    margin-bottom: 4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.sidebar-link{
    text-decoration: none;
}

.design-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 40vh;
    background-image: url('../images/solid-airplane.jpg');
    background-size: cover;
    background-position: top; 
    background-repeat: no-repeat;
}

.welcome-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 0px 2px 15px rgb(255, 255, 255);
}

.design-intro-section{
    padding: 0 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.design-intro-section h1{
    font-size: 1.75rem;
}

.design-intro-text{
    font-size: 1.2rem;
    line-height: 1.5em;
    text-align: justify;
}

.design-item-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 2% 2%;
    padding-top: 4%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

.design-item-box:nth-child(odd){
    background: linear-gradient(to bottom, rgba(223, 235, 248, 0.35), rgba(255, 255, 255, 0.6));
}

.design-item-box:nth-child(even) {
    background: linear-gradient(to bottom, rgba(237, 234, 250, 0.35), rgba(255, 255, 255, 0.65));
}

.kiwi-bird h2, .uoa-logo h2{
    width: 50%;
    padding: 1% 1%;
    border-top: 2px solid rgba(128, 128, 128, 0.3);
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
    text-align: center;
    margin: 0 auto 2%;
}


.design-item-text{
    padding: 2% 3%;
    line-height: 1.5em;
    font-size: 1.2rem;
    text-align: justify;
}



.image-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1% 5% 0;
    row-gap: 2%;
    column-gap: 2%;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding: 2%;
}




.image-grid-container img{
    height: 300px;
    min-height: 100px;
    width: 100%;
    /* object-fit: contain; */
    border-radius: 10px;
}

.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-wrapper {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
}


.video-kiwi{
    display: block;
    margin: 2rem auto;
    width: 90%;
    max-width: 600px;
    height: auto;
}

.single-img-container {
    width: 45%;
    min-width: 320px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.single-img-container img{
    width: 100%;
    object-fit: contain;
    border-radius: .8rem
}

.design-item-box p.video-caption {
  text-align: center;
}

.abi-logo h2{
    width: 50%;
    padding: 1% 1%;
    border-top: 2px solid rgba(128, 128, 128, 0.3);
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
    text-align: center;
    margin: 0 auto 2%;
}


.waiparuru h2{
    width: 50%;
    padding: 1% 1%;
    border-top: 2px solid rgba(128, 128, 128, 0.3);
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
    text-align: center;
    margin: 0 auto 2%;
    overflow-wrap: break-word;  /* modern replacement for word-break: break-word */
    white-space: normal;        /* allow wrapping */
}

.waipa-img{
    max-height: 300px;
    max-width: 600px;
    height: 100%;
    width: 100%;
    object-fit: contain !important;
}





@media (max-width: 1000px) {
    body {
        padding-left: 0;
        padding-top: 40px;
    }

    .sidebar {
        left: 0;
        top: 0;
        right: 0;
        height: 40px;
        width: 100%;
        padding: 0;
        background-color: white;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .sidebar-item{
        border-bottom: 1px dashed gray;
        padding: 0;
        margin: 0;
    }

    .image-grid-container {
        display: grid;
        grid-template-columns: 1fr; /* or 1fr on mobile via media query */
        row-gap: 0;
        column-gap: 0;
        gap: 0;
    }

    .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 80%;
    }

    .img-container img {
        width: 100%;
        max-height: 400px; /* or adjust as needed */
        object-fit: contain;
    }

    .waiparuru h2 {
        max-width: 90%;  /* allow wider container on small screens */
    }

}