.footer-container{
    background-color: rgb(50, 49, 49);
    color: white;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
}

.footer-container h2{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    margin-left: 25px;
}

.icon{
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 35px;
}

.email-title{
    line-height: 30px;
}

.email-link{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: rgb(12, 123, 235);
    vertical-align: middle;
}

.phone-number{
    font-family: 'Times New Roman', Times, serif;
    vertical-align: middle;
}

.contact-list{
    list-style-type: none;
    line-height: 45px;
    padding-left: 20px;
}