.footer-container{
    background-color: rgb(50, 49, 49);
    color: white;
    margin: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 5%;
}

.footer-container h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}

.icon{
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    vertical-align: middle;
}

.email-title{
    line-height: 30px;
}

.email-link{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: rgb(12, 123, 235);
    vertical-align: middle;
}

.phone-number{
    font-family: 'Times New Roman', Times, serif;
    vertical-align: middle;
}

.contact-list{
    list-style-type: none;
    font-size: 1.1rem;
    line-height: 2.5em;
    padding-left: 2%;
}