* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    padding-left: 80px;
}


.sidebar{
    padding: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(15, 2, 255);
}

.sidebar-item{
    border-bottom: 1px dashed gray;
    padding-top: 2em;
    padding-bottom: 0.1em;
    margin-bottom: 4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: white;
}

.sidebar-link{
    text-decoration: none;
    color: white;
}

.design-header-container{
    margin: 0;
    padding: 0;
    height: 40vh;
    width: 100%;
    background-image: url('../images/research-n.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-bottom: 2px solid rgba(17, 208, 157, 0.241);
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 0px 2px 15px rgb(255, 255, 255);
    max-width: 90%;
    word-break: break-word;
}

.desc-container{
    width: 96%;
    max-width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2%;
    background-color: beige;
    margin: 2%;
}

.desc-text{
    font-family: "Slabo 27px", sans-serif;
    font-size: 1.1rem;
    line-height: 1.5em;
    text-align: justify;
}

.item-container{
    margin: 2%;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.724); */
    box-shadow: 2px 2px 15px rgba(130, 130, 130, 0.421);
    padding: 5%;
    border-radius: 1rem;
    width: 96%;
    max-width: 100%;
}

.item-container:nth-child(odd){
    background-color: rgba(173, 216, 230, 0.2);
}

.item-container h2{
    font-family: "Roboto Slab";
    font-size: 1.8rem;
    padding-bottom: 2%;
    border-bottom: 2px solid gray;
}

.item-container p{
    font-family: "Slabo 27px";
    font-size: 1.3rem;
    line-height: 1.5em;
    text-align: justify;
    margin: 1% 0 2%;
}

.tumor-img, .tube-img{
    float: left;
    width: 40%;
    height: auto;
    
    margin-right: 1rem;
    margin-bottom: .5rem;
    border: none;
}

.tumor-img{
    max-width: 350px;
    object-fit: contain;
    width: 25%;
}

.video-tumor {
    display: block;
    margin: 1.5rem auto;
    width: 90%;
    max-width: 500px;
    height: auto;
}

.item-container p.video-caption {
  text-align: center;
  font-size: 1rem;
}

.github-ref{
    display: block;
    width: 50%;
    font-size: 1.5em;
    margin: 4% auto 2%;
    text-align: center;
    border-radius: 5px;
    padding: .8em;
    background-color: rgba(128, 128, 128, 0.155);
    text-decoration: none;
    box-shadow: 2px 5px 10px rgba(133, 131, 131, 0.205);
}

.item-container h3{
    font-size: 1.2rem;
    color: blueviolet;
}

.single-img-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3% auto 1%;
}

.single-img-container img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}


.img-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3% auto 1%;
}

.img-container img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.paper-links{
    margin-bottom: .5rem;
    display: block;
}

.image-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1% 3% 0;
    row-gap: 1%;
    padding: 1.5%;
}


.image-grid-container img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}


@media (max-width: 1000px) {
    body {
        padding-left: 0;
        padding-top: 40px;
    }

    .sidebar {
        left: 0;
        top: 0;
        right: 0;
        height: 40px;
        width: 100%;
        padding: 0;
        background-color: rgb(15, 2, 255);
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .sidebar-item{
        border-bottom: 1px dashed gray;
        padding: 0;
        margin: 0;
        color: white;
    }

    .sidebar-link{
        text-decoration: none;
        color: white;
    }

    .image-grid-container {
        grid-template-columns: 1fr;
        margin: 1% 3% 0;
        column-gap: 1%;
        padding: 1.5%;
    }

    .tumor-img, .tube-img{
        float: left;
        width: 50%;
        height: 100%;
        margin-right: 1rem;
        margin-bottom: .5rem;
        border: none;
    }

    .welcome-text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        color: rgb(0, 0, 0);
        text-align: center;
        justify-content: center;
        text-shadow: 0px 2px 15px rgb(255, 255, 255);
        max-width: 90%;
        word-break: break-word;
    }

    .single-img-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3% auto 1%;
    }

    .github-ref{
        display: block;
        width: 90%;
        font-size: 1.2em;
        margin: 4% auto 2%;
        text-align: center;
        border-radius: 5px;
        padding: .5em;
        background-color: rgba(128, 128, 128, 0.155);
        text-decoration: none;
        box-shadow: 2px 5px 10px rgba(133, 131, 131, 0.205);
    }
}
